@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'black';
	default: false;
	prefersdark: false;
	color-scheme: 'dark';
	--color-base-100: #020202;
	--color-base-200: oklch(19% 0 0);
	--color-base-300: oklch(22% 0 0);
	--color-base-content: oklch(87.609% 0 0);
	--color-primary: oklch(35% 0 0);
	--color-primary-content: #f7f7ec;
	--color-secondary: oklch(35% 0 0);
	--color-secondary-content: #c6e9ca;
	--color-accent: oklch(35% 0 0);
	--color-accent-content: #f7f7ec;
	--color-neutral: oklch(35% 0 0);
	--color-neutral-content: #c6e9ca;
	--color-info: #c6e9ca;
	--color-info-content: #020202;
	--color-success: #c6e9ca;
	--color-success-content: #020202;
	--color-warning: #c6e9ca;
	--color-warning-content: #020202;
	--color-error: #c6e9ca;
	--color-error-content: #020202;
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 1;
}

@theme {
	--font-inter: 'Inter', 'sans-serif';
	--font-archivo: 'Archivo Variable', sans-serif;
	/* colors */

	--color-theme-black: #020202;
	--color-theme-white: #f7f7ec;
	--color-theme-gray: #838383;
	--color-theme-gray-light: #d9d9d9;
	--color-theme-green: #c6e9ca;
}

@utility btn {
	@apply hover:text-secondary-content hover:bg-secondary px-6 text-lg transition duration-300 hover:scale-110;
}
