---
import BaseLayout from '@layouts/base-layout.astro';
import Container from '@components/container.astro';
---

<BaseLayout>
	<main>
		<Container>
			<h1 class='text-3xl font-medium'>Hello World</h1>
			<div class='btn'>hh</div>
		</Container>
	</main>
</BaseLayout>
