---
import BaseLayout from '@layouts/base-layout.astro';
import Container from '@components/container.astro';
---

<BaseLayout title='Main page'>
	<section>
		<Container class='py-6'>
			<h1 class='text-3xl font-medium'>Hello World</h1>
			<div class='btn'>hh</div>
		</Container>
	</section>
</BaseLayout>
