---
import BaseLayout from '@layouts/base-layout.astro';
import Container from '@components/container.astro';
---

<BaseLayout title='Main page'>
	<section>
		<Container class='py-6'>
			<h1 class='font-archivo uppercase font-bold'>h1 - Archivo - medium - 92/102%</h1>
			<div class='btn'>hh</div>
		</Container>
	</section>
</BaseLayout>
