---
const { title } = Astro.props;

import Menu from '@components/layout/menu.astro';
import '@styles/global.css';
---

<html lang='en' dir='ltr' data-theme='dim'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
	</head>
	<body>
		<!-- page top -->
		<Menu />
		<div>
			<!-- header -->
			<slot />
		</div>
		<!-- footer -->
	</body>
</html>
